<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Color Cosmos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>153711031BFCEE450016AA9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1537111B1BFCEE450016AA9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>153711261BFCEE450016AA9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
